.chart{
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47); 
    padding: 1rem;
    color:rgb(161, 161, 161);

    .chart-title{
        margin-bottom: 2rem;
    }
    
    .chart-grid{
    stroke: rgb(228, 225, 225);
    }
}